<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Player Bounties</title>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <!--<link href="@Url.Content("~/Content/bootstrap-1.1.0.min.css")" rel="stylesheet" type="text/css" />-->
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/mainSite.css")" rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.tablesorter.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
	<!--<script src="@Url.Content("~/Scripts/jcarousellite_1.0.1.js")" type="text/javascript"></script>	-->
    <script src="@Url.Content("~/Scripts/jcarousellite_1.0.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/playerBounty.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <div id="header">
			@Html.Partial("../Header/_Header", new PlayerBounties.Models.Account())
        </div>

		<div id="subHeader">
			<div class="sectionTitle" style="width: 500px; float: left;">
				@ViewBag.Title
			</div>
			<div id="searchBar" style="float: right; margin: 5px;">
				@Html.Partial("_Search")
			</div>
		</div>		

        <div id="main">
            @RenderBody()
        </div>

        <div id="footer">
			@Html.Partial("_Footer")
        </div>		
    </div>
</body>
</html>
