@model IEnumerable<PlayerBounties.Models.Character>

@Html.Partial("_Search")

<table class="searchResult" cellspacing="0" cellpadding="5" border="0">
    <tr>
        <th>
            Name
        </th>
		<th>
			Race
		</th>
		<th>
			Class
		</th>
		<th>
			Faction
		</th>
		<th>
			Shard
		</th>
		<th></th>
    </tr>

	@foreach(var character in Model)
	{
		if(character.Faction.Name == "Galactic Republic")
		{
			<tr class="republic">
				<td>
					@Html.ActionLink(character.Name, "Details", "Character", new { character.Id }, null)
				</td>
				<td>
					@Html.DisplayFor(modelItem => character.Race.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => character.PlayerClass.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => character.Faction.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => character.Shard.Name)
				</td>
				<td>
				</td>

				@if(character.GetLoggedInUserId() != Guid.Empty)
				{
					if(character.GetAllCharactersForAnAccount(character.GetLoggedInUserId()).Count() != 0)
					{
						if(character.IsActiveBountyOnCharacter(character.Id) == false)
						{
							<td align="center">
								@Html.ActionLink("Place a Bounty", "Create", "Bounty", new { id = character.Id }, null)
							</td>
						}
						else
						{
							<td align="center">
								@Html.ActionLink("Active Bounty", "Details", "Bounty", new { id = character.GetActiveBountyId(character.Id) }, null)
							</td>
						}
					}
				}
			</tr>
		}
		else
		{
			<tr class="empire">
				<td>
					@Html.ActionLink(character.Name, "Details", "Character", new { character.Id }, null)
				</td>
				<td>
					@Html.DisplayFor(modelItem => character.Race.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => character.PlayerClass.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => character.Faction.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => character.Shard.Name)
				</td>
				<td>
				</td>

				@if(character.GetLoggedInUserId() != Guid.Empty)
				{
					if(character.GetAllCharactersForAnAccount(character.GetLoggedInUserId()).Count() != 0)
					{
						if(character.IsActiveBountyOnCharacter(character.Id) == false)
						{
							<td align="center">
								@Html.ActionLink("Place a Bounty", "Create", "Bounty", new { id = character.Id }, null)
							</td>
						}
						else
						{
							<td align="center">
								@Html.ActionLink("Active Bounty", "Details", "Bounty", new { id = character.GetActiveBountyId(character.Id) }, null)
							</td>
						}
					}
				}
			</tr>
		}
	}

</table>

something about don't see the character you're looking for...click here to add a character