@model IEnumerable<PlayerBounties.Models.Character>

<link href="@Url.Content("~/Content/bootstrap-1.1.0.min.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
	$(function()
	{
		$("table")
			.tablesorter({ sortList: [[1, 0]] })
			.tablesorterPager({ container: $("#pager") });
	});
</script>

<div style="margin: 20px 20px 0 20px;">
	@if(Model.Count() != 0)
	{
		<table id="searchResultTable" class="tablesorter zebra-striped" cellspacing="0" cellpadding="5" border="0">
			<thead>
				<tr>
					@if(Request.IsAuthenticated)
					{
						<th></th>
						<th></th>
					}
					<th>Name</th>
					<th>Shard</th>
					<th>Faction</th>
					<th>Class</th>
					<th>Race</th>
					<th style="text-align: center;">Details</th>
					
					@if(Request.IsAuthenticated)
					{
						<th></th>
						<th></th>
					}
				</tr>
			</thead>
			<tbody>
				@foreach(var character in Model)
				{
					var loggedInUserId = character.GetLoggedInUserId();
					<tr>
						@if(Request.IsAuthenticated)
						{
							if(character.UserId != Guid.Empty)
							{
								<td><img src="../../Content/Images/mandalorianLogo.png" alt="R" style="height: 16px; width: 16px;"/></td>
							}
							else
							{
								<td></td>
							}
							
							if(character.IsCharacterFavorited(character.Id, loggedInUserId) == false)
							{
								<td style="padding: 0;">
									<a href="@Url.Action("AddToFavorites", "Favorite", new { characterId = character.Id, AccountId = loggedInUserId, view = "characterDetails" } )"><img src="../../Content/Images/favorites.png" alt="Favorite" id="favoriteImage" style="height: 18px;"/></a>								
								</td>
							}
							else
							{
								<td style="padding: 0;">
									<a href="@Url.Action("RemoveFromFavorites", "Favorite", new { characterId = character.Id, AccountId = loggedInUserId, view = "characterDetails" } )"><img src="../../Content/Images/favorites-gold.png" alt="Favorite" id="favoriteImage" style="height: 18px;"/></a>
								</td> 
							}
						}
						<td class="inputLabelCell classTxt @character.GetClassStyle(character.PlayerClass.Name)">
							@Html.ActionLink(character.Name, "Details", "Character", new { character.Id }, null)
						</td>
						<td>
							@Html.DisplayFor(modelItem => character.Shard.Name)
						</td>
						<td class="@character.GetFactionFontStyle(character.Faction.Name)">
							@Html.DisplayFor(modelItem => character.Faction.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => character.PlayerClass.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => character.Race.Name)
						</td>
						<td style="text-align: center;">@Html.ActionLink("Details", "Details", "Character", new { id = character.Id }, null)					
						</td>
						
						@if(Request.IsAuthenticated)
                        {
		  
							if(loggedInUserId != Guid.Empty)
							{
								if(character.GetAllCharactersForAnAccount(character.GetLoggedInUserId()).Count() != 0)
								{
									if(character.IsActiveBountyOnCharacter(character.Id) == false)
									{
										<td style="text-align: center;">
											@Html.ActionLink("Place a Bounty", "Create", "Bounty", new { id = character.Id }, null)
										</td>
									}
									else
									{
										<td style="text-align: center;">
											@Html.ActionLink("Active Bounty", "Details", "Bounty", new { id = character.GetActiveBountyId(character.Id) }, null)
										</td>
									}
								}
							}
						
							if(character.IsActiveBountyOnCharacter(character.Id) == true)
							{
								var bountyId = character.GetActiveBountyId(character.Id);
								if(character.GetBountyStatus(bountyId) != "Completed")
								{
									if(character.IsBountyWatched(bountyId, loggedInUserId) == false)
									{
										<td style="text-align: center;">
											@Html.ActionLink("Watch", "Watch", "WatchedBounty", new { BountyId = bountyId, AccountId = loggedInUserId, view = "bountyDetails" }, null)								
										</td>
									}
									else
									{
										<td style="text-align: center;">
											@Html.ActionLink("UnWatch", "UnWatch", "WatchedBounty", new { BountyId = bountyId, AccountId = loggedInUserId, view = "bountyDetails" }, null)							
										</td> 
									} 
								}
							}
							else
							{
								<td></td>
							}
                        }
					</tr>
				}
			</tbody>
		</table>
		<div id="pager">
			<form>
				<img src="../../Content/Images/first.png" class="first" alt="first" />
				<img src="../../Content/Images/prev.png" class="prev" alt="prev" />
				<input class="pagedisplay" type="text" />
				<img src="../../Content/Images/next.png" class="next" alt="next" />
				<img src="../../Content/Images/last.png" class="last" alt="last" />
				
				<select class="pagesize">
					<option selected="selected" value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
				</select>				
			</form>
		</div>
	}
	else
	{
		<h3>Your search yielded no results.  Please refine your search and try again.</h3>
	}
</div>

@*<div id="buttons" style="clear: both; height: 40px;">
	@if(Request.IsAuthenticated)
	{
		<p>Can't find your intended target?  Click to place a bounty!</p>
		<input type="button" value="Place a Bounty" onclick="location.href='Bounty/Placebounty'" style="float: left;"/>
	}
</div>	*@