@model PlayerBounties.Models.Account

<div class="centerContent">
	<div id="playerBountyLogo">
		@if(Request.IsAuthenticated)
		{
			<a href="@Url.Action("Dashboard", "Home")"><img src="../../Content/Images/mandalorianLogo.png" alt="Home" id="bountyLogo"/></a>
		}
		else
		{
			<a href="@Url.Action("Index", "Home")"><img src="../../Content/Images/mandalorianLogo.png" alt="Home" id="bountyLogo"/></a>
		}
	</div>

	<ul class="headerLinks">
		@if(Request.IsAuthenticated)
		{
			if(Model.IsUserAdmin(Model.GetLoggedInUserId()))
			{
					<li>@Html.ActionLink("Admin", "Index", "Admin")</li>
					<li>&nbsp;|&nbsp;</li>
			}
		}
		<li>@if(Request.IsAuthenticated)
	  {
				<text>@Html.ActionLink("My Account", "MyAccount", "Account")</text>
	  }
	  else
	  {
				<text>@Html.ActionLink("Sign Up", "SignUp", "Account")</text>
	  }
		</li>
		<li>&nbsp;|&nbsp;</li>
		<li>@if(Request.IsAuthenticated)
	  {
				<text>Welcome <strong>@User.Identity.Name</strong>
				@Html.ActionLink("Log Off", "LogOff", "Account")</text>
	  }
	  else
	  {
				@Html.ActionLink("Login", "Login", "Account")
	  }
		</li>
	</ul>
				
	<!-- Tabs -->
	<div id="tabStripContainer">
		<div id="tabsWrapper">
			@if(Request.IsAuthenticated)
   {
				@Html.ActionLink("Home", "Dashboard", "Home")
   }
   else
   {
				@Html.ActionLink("Home", "Index", "Home")
   }

			@Html.ActionLink("About", "About", "Home")
			@Html.ActionLink("Rules", "Index", "Home")
			@Html.ActionLink("Statistics", "Index", "Statistics")
		</div>
	</div>
</div>