@model PlayerBounties.Models.Account

<div class="centerContent">
	<div id="playerBountyLogo">
		@if(Request.IsAuthenticated)
		{
			<a href="@Url.Action("Dashboard", "Home")"><img src="../../Content/Images/mandalorianLogo.png" alt="Home" id="bountyLogo"/></a>
		}
		else
		{
			<a href="@Url.Action("Index", "Home")"><img src="../../Content/Images/mandalorianLogo.png" alt="Home" id="bountyLogo"/></a>
		}
	</div>

	<ul class="headerLinks">
		@if(Request.IsAuthenticated)
		{
			var loggedInUserId = Model.GetLoggedInUserId();

			if(Model.IsUserAdmin(loggedInUserId))
			{
				<li>@Html.ActionLink("Admin", "Index", "Admin")</li>
				<li>&nbsp;|&nbsp;</li>
				<li>
					<a href="@Url.Action("Index", "Message", new { userId = Guid.Empty })"><img src="../../Content/Images/envelopeIcon.gif" alt="Admin Messages" id="adminMessageIcon"/><span style="margin-left: 5px;">(@Model.GetUnreadAdminMessages().Count())</span></a>			
				</li>
				<li>&nbsp;|&nbsp;</li>
			}

			<li>Welcome <strong>@User.Identity.Name</strong></li>
			<li>&nbsp;|&nbsp;</li>
			<li>
				<a href="@Url.Action("Index", "Message", new { userId = loggedInUserId })"><img src="../../Content/Images/envelopeIcon.gif" alt="Messages" id="messageIcon"/><span style="margin-left: 5px;">(@Model.GetUnreadMessages(loggedInUserId).Count())</span></a>			
			</li>
			<li>&nbsp;|&nbsp;</li>
			<li>@Html.ActionLink("My Account", "MyAccount", "Account")</li>
			<li>&nbsp;|&nbsp;</li>
			<li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
		}
		else
		{
			<li>@Html.ActionLink("Sign Up", "SignUp", "Account")</li>
			<li>&nbsp;|&nbsp;</li>
			<li>@Html.ActionLink("Login", "Login", "Account")</li>
		}
		<li>&nbsp;|&nbsp;</li>
		<li>@Html.ActionLink("Help", "Index", "Help")</li>
	</ul>
				
	<!-- Tabs -->
	<div id="tabStripContainer">
		<div id="tabsWrapper">
            <ul class="tabs">
        
			    @if(Request.IsAuthenticated)
				{
				    <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
				}
				else
				{
				    <li>@Html.ActionLink("Home", "Index", "Home")</li>
				}

			    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
			    <li>@Html.ActionLink("Rules", "Rules", "Home")</li>
			    <li>@Html.ActionLink("Statistics", "Index", "Statistics")</li>
                <li>@Html.ActionLink("Bounties", "Bounties", "Bounty")</li>
            </ul>
		</div>
	</div>
</div>