@model PlayerBounties.Models.Character

@{
    ViewBag.Title = "Account Dashboard";
}

<div id="characterManagement">
	@Html.Action("Characters", "Dashboard")
</div>

<div class="rowBlank">
	<div style="float: left;">
		<input id="btnPlaceBounty" type="button" value="Place a Bounty" onclick="location='../../Bounty/PlaceBounty'" />
	</div>
	
	<div id="accountStatistics" style="float: right;">
		<table cellspacing="0" cellpadding="2" border="0" >
			<thead>
				<tr>
					<th style="font-size: large;"><u>Account Statistics</u></th>
					<th style="width: 20px;"></th>
					<th></th>
					<th style="width: 20px;"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="inputLabelCell">
						Targets Killed:
					</td>
					<td align="left">
						@if(Model.GetAccountBountiesCompleted(Model.GetLoggedInUserId()).Count() != 0)
						{
							@Html.ActionLink(Model.GetAccountBountiesCompleted(Model.GetLoggedInUserId()).Count().ToString(), "_TargetsKilled", "Bounty")
						}
						else
						{
							<text>0</text>
						}
					</td>
					<td class="inputLabelCell">Bounties Signed Up For:</td>
					<td align="right">0</td>
				</tr>
				<tr>
					<td class="inputLabelCell">
						Bounties Placed:
					</td>
					<td align="left">
						@if(Model.GetAccountBountiesPlaced(Model.GetLoggedInUserId()).Count() != 0)
						{
							@Html.ActionLink(Model.GetAccountBountiesPlaced(Model.GetLoggedInUserId()).Count().ToString(), "_BountiesPlaced", "Bounty", Guid.Empty, null)
						}
						else
						{
							<text>0</text>
						}
					</td>
					<td class="inputLabelCell">Active Contracts:</td>
					<td align="right">0</td>
				</tr>
				<tr>
					<td class="inputLabelCell">
						Bounties Against Me:
					</td>
					<td align="left">
						@if(Model.GetAccountBountiesPlacedOn(Model.GetLoggedInUserId()).Count() != 0)
						{
							@Html.ActionLink(Model.GetAccountBountiesPlacedOn(Model.GetLoggedInUserId()).Count().ToString(), "_BountiesPlacedAgainst", "Bounty", Guid.Empty, null)
						}
						else
						{
							<text>0</text>
						}
					</td>
					<td class="inputLabelCell">Pending Contracts:</td>
					<td align="right">0</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

@Html.Partial("../Dashboard/_KillShotImages", new PlayerBounties.Models.KillShotImage(), null)