@model PlayerBounties.Models.Character

@{
    ViewBag.Title = "Account Dashboard";
}

@Html.Partial("_Search")

<div id="characterManagement">

	@Html.Action("Characters", "Dashboard")

</div>

<h3>Account Statistics</h3>
<table cellspacing="0" cellpadding="2" border="0">
	<tr>
		<td class="inputLabelCell">
			Targets Killed:
		</td>
		<td align="left">
			@if(Model.GetAccountBountiesCompleted(Model.GetLoggedInUserId()).Count() != 0)
			{
				@Html.ActionLink(Model.GetAccountBountiesCompleted(Model.GetLoggedInUserId()).Count().ToString(), "Index", "Bounty")
			}
			else
			{
				<text>0</text>
			}
		</td>
	</tr>
	<tr>
		<td class="inputLabelCell">
			Bounties Placed:
		</td>
		<td align="left">
			@if(Model.GetAccountBountiesPlaced(Model.GetLoggedInUserId()).Count() != 0)
			{
				@Html.ActionLink(Model.GetAccountBountiesPlaced(Model.GetLoggedInUserId()).Count().ToString(), "Index", "Bounty")
			}
			else
			{
				<text>0</text>
			}
		</td>
	</tr>
	<tr>
		<td class="inputLabelCell">
			Bounties Against:
		</td>
		<td align="left">
			@if(Model.GetAccountBountiesPlacedOn(Model.GetLoggedInUserId()).Count() != 0)
			{
				@Html.ActionLink(Model.GetAccountBountiesPlacedOn(Model.GetLoggedInUserId()).Count().ToString(), "Index", "Bounty")
			}
			else
			{
				<text>0</text>
			}
		</td>
	</tr>
</table>

<ul>
	<li>Bounties Signed up for</li>
	<li>Active Contracts</li>
</ul>

<h3>Kill Images</h3>