@model PlayerBounties.Models.LoginModel
		   
@using(Html.BeginForm())
{    
	@Html.ValidationSummary()

	<div style="margin: 20px; height: 267px;">
		<div style="float:left; width: 590px;">
			<div id="welcome" style="height: 120px;">
				<b style="font-size: x-large; color: #000000;">Welcome to Player Bounties!</b><br />
				Fusce magna nisl, volutpat vel malesuada placerat, tempor ac libero. Fusce convallis condimentum mi vitae feugiat. Aenean mi nisl, viverra vitae tincidunt at, commodo quis leo. In vel enim sagittis diam suscipit vestibulum. Etiam nulla velit, faucibus in consequat a, egestas eget elit. Aliquam id libero lorem. Suspendisse potenti. Etiam euismod varius consectetur. Vivamus sed mauris nisl.
			</div>

			<div id="overallStats" style="position: absolute; margin-top: 30px; width: 310px;">
				@Html.Partial("../Statistics/_BountiesSummary", new PlayerBounties.Models.Bounty())
			</div>
		</div>

		<div style="float:right;">
			<div id="loginForm">
				<div class="rowBlank">
					@Html.LabelFor(m => m.Email)
					@Html.ValidationMessageFor(m => m.Email, "*")
				<br />
					@Html.TextBoxFor(m => m.Email)
				</div>

				<div class="rowBlank">
					@Html.LabelFor(m => m.Password)
					@Html.ValidationMessageFor(m => m.Password, "*")
				<br />
					@Html.PasswordFor(m => m.Password)
				</div>
				<div class="rowBlank">
					<input type="submit" value="Login" />
				</div>

				<div class="rowBlank">
					<hr />
					<ul>
						<li>@Html.ActionLink("Forgot Your Password?", "Login", "Account")</li>
						<li>Want to join the hunt?  @Html.ActionLink("Sign Up", "SignUp", "Account")</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="statistics" style="margin: 20px; clear: both; height: 190px;">
		<div style="float: left; width: 308px; margin-right: 15px;">
			@Html.Action("TopHunters", "Statistics")
		</div>
		<div style="float: right; width: 308px; margin-left: 15px;">
			@Html.Action("TopClients", "Statistics")
		</div>
		<div style="width: 308px; margin: 0; overflow: hidden;">
			@Html.Action("TopMarks", "Statistics")
		</div>
	</div>

	<div id="recentBountyImages">
		@Html.Action("KillShotImages", "Home", new { imageType = "targetsKilled" })
	</div>
	  
}