@model PlayerBounties.Models.LoginModel
		   
@using(Html.BeginForm("Login", "Account"))
{    
	@Html.ValidationSummary()

	<div style="margin: 20px; height: 267px;">
		<div style="float:left; width: 590px;">
			<div id="welcome" style="height: 120px;">
				<b style="font-size: x-large; color: #000000;">Welcome to The Great Hunt!</b><br />

				A competition for glory instigated by Mandalore the Lesser in an effort to reunite the clans.  This portal serves as way for
				the members of the competition to keep track of their kills and achievements as they track targets throughout the galaxy vying
				to becoming the next champion and claiming the title of Mandalore!

			</div>

			<div id="overallStats" style="position: absolute; margin-top: 30px; width: 310px;">
				@Html.Partial("../Statistics/_BountiesSummary", new PlayerBounties.Models.Bounty())
			</div>
		</div>

		<div style="float:right;">
			<div id="loginForm">
				<div class="rowBlank">
					@Html.LabelFor(m => m.Email)
					@Html.ValidationMessageFor(m => m.Email, "*")
				<br />
					@Html.TextBoxFor(m => m.Email)
				</div>

				<div class="rowBlank">
					@Html.LabelFor(m => m.Password)
					@Html.ValidationMessageFor(m => m.Password, "*")
				<br />
					@Html.PasswordFor(m => m.Password)
				</div>
				<div class="rowBlank">
					<input type="submit" value="Login" />
				</div>

				<div class="rowBlank">
					<hr />
					<ul>
						<li>@Html.ActionLink("Forgot Your Password?", "Login", "Account")</li>
						<li>Want to join the hunt?  @Html.ActionLink("Sign Up", "SignUp", "Account")</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="statistics" style="margin: 0 20px 20px 20px; clear: both; height: 190px;">
		<div style="float: left; width: 310px; margin-right: 15px;">
			@Html.Action("TopHunters", "Statistics")
		</div>
		<div style="float: right; width: 310px; margin-left: 15px;">
			@Html.Action("TopClients", "Statistics")
		</div>
		<div style="width: 310px; margin: 0; padding-left: 325px;">
			@Html.Action("TopMarks", "Statistics")
		</div>
	</div>

	<div id="recentBountyImages">
		@Html.Action("KillShotImages", "Home", new { imageType = "targetsKilled" })
	</div>
	  
}