@model IEnumerable<PlayerBounties.Models.Bounty>

<table cellspacing="0" cellpadding="5" border="0">
	<tr>
		<th>Placed On</th>
		<th>Shard</th>
		<th>Class</th>
		<th>Placed On</th>
		<th>Placed By</th>
		<th>Status</th>
		<th>Details</th>
	</tr>

	@foreach(var item in Model)
	{
		<tr>
			<td>@item.CharacterName(item.PlacedOnId)</td>
			<td>@item.CharacterShard(item.PlacedOnId)</td>
			<td>@item.CharacterClass(item.PlacedOnId)</td>
			<td>@item.DatePlaced</td>
			<td>@item.CharacterName(item.PlacedById)</td>
			<td>@item.GetStatus(item.Id)</td>
			<td>@Html.ActionLink("Details", "Details", "Bounty", new { id = item.Id }, null)</td>
		</tr>
	}

</table>