@model PlayerBounties.ViewModels.BountiesViewModel
		   
<link href="@Url.Content("~/Content/bootstrap-1.1.0.min.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    $(function () {
        $("table")
			.tablesorter({ sortList: [[1, 0]] })
			.tablesorterPager({ container: $("#pager") });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
		
		/***** Fields *****/
		var selectedShard = $("#SelectedShard");

		selectedShard.change(function() {
			var idShard = $(this).val();

			if(idShard != "") {
				$.getJSON("/Character/LoadCharactersByShard", { shardId: idShard },

				function(shardData) {
					$.each(shardData, function(index, itemData) {
						selectedCharacter.append($('<option/>', {
							value: itemData.Value,
							text: itemData.Text
						}));
					});
				});
			}
		});
	});

</script>

@{
    ViewBag.Title = "Bounties";
}           

@{var bounties = Model.Bounty.GetActiveBounties();	 
}
	
@if(bounties.Count() > 0)
{
	<div style="margin: 20px 20px 0 20px;">
		@*@Html.DropDownListFor(model => model.SelectedShard, new SelectList(Model.Shards, "Value", "Text"), "All Shards") <p />*@
		
		<table id="bountiesTable" class="tablesorter zebra-striped" cellspacing="0" cellpadding="5" border="0">
			<thead>
				<tr>
					<th>Target</th>
					<th>Shard</th>
					<th>Faction</th>
					<th>Class</th>
					<th>Placed On</th>
					<th>Client</th>
					@if (Request.IsAuthenticated)
					{
						<th style="text-align: center;">Watch</th>
					}
					<th style="text-align: center;">Details</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in bounties)
				{
					<tr>
						<td class="classTxt @item.GetClassStyle(item.CharacterClass(item.PlacedOnId))">@Html.ActionLink(@item.CharacterName(item.PlacedOnId).ToString(), "Details", "Character", new { id = item.PlacedOnId }, null)</td>
						<td>@item.CharacterShard(item.PlacedOnId)</td>
						<td>@item.CharacterAllegience(item.PlacedOnId)</td>
						<td>@item.CharacterClass(item.PlacedOnId)</td>
						<td>@item.DatePlaced.Value.ToShortDateString()</td>
						<td class="classTxt @item.GetClassStyle(item.CharacterClass(item.PlacedById))">@Html.ActionLink(@item.CharacterName(item.PlacedById).ToString(), "Details", "Character", new { id = item.PlacedById }, null)</td>
						@if(Request.IsAuthenticated)
						{
							var loggedInUserId = item.GetLoggedInUserId();

							if(item.IsBountyWatched(item.Id, loggedInUserId) == false)
							{
								<td style="text-align: center;">
									@Html.ActionLink("Watch", "Watch", "WatchedBounty", new { BountyId = item.Id, AccountId = loggedInUserId, view = "bounties" }, null)								
								</td>
							}
							else
							{
								<td style="text-align: center;">
									@Html.ActionLink("UnWatch", "UnWatch", "WatchedBounty", new { BountyId = item.Id, AccountId = loggedInUserId, view = "bounties" }, null)							
								</td> 
							}
						}

						<td style="text-align: center;">@Html.ActionLink("Details", "Details", "Bounty", new { id = item.Id }, null)</td>
					</tr>
				}
			</tbody>
		</table>

		<div style="clear: both; height: 40px;"></div>

		<div id="pager">
			<form>
				<img src="../../Content/Images/first.png" class="first" alt="first" />
				<img src="../../Content/Images/prev.png" class="prev" alt="prev" />
				<input class="pagedisplay" type="text" />
				<img src="../../Content/Images/next.png" class="next" alt="next" />
				<img src="../../Content/Images/last.png" class="last" alt="last" />
				
				<select class="pagesize">
					<option selected="selected" value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
				</select>				
			</form>
		</div>
	</div>
}
else
{
	<div style="margin: 20px 20px 0 20px;">
		<h3>There are currently no active bounties.</h3>
	</div>
}