@{
    ViewBag.Title = "Admin Tools";
}

<ul>
	<li>@Html.ActionLink("Manage Factions", "Index", "Faction")</li>
	<li>@Html.ActionLink("Manage Races", "Index", "Race")</li>
	<li>@Html.ActionLink("Manage Player Classes", "Index", "PlayerClass")</li>
	<li>@Html.ActionLink("Manage Shards", "Index", "Shard")</li>
	<li>@Html.ActionLink("Pending Placement", "PendingPlacement", "Bounty")</li>
	<li>@Html.ActionLink("Pending Completion", "PendingCompletion", "Bounty")</li>
</ul>