From: Player-Bounties@playerbounties.com
To: @Model.UserEmailAddress
Subject: Bounty has been completed on @Model.TargetName 

<html>
	<body>
		<p>
			The bounty placed on @Model.TargetName has been completed.  @Model.TargetName has been killed by @Model.HunterName.  This bounty has been removed from
			all watch lists.
		</p>
		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>