From: no-reply@playerbounties.com
To: @Model.UserEmailAddress
Subject: Bounty has been placed on @Model.TargetName 

<html>
	<body>
		<p>
			Attention @Model.TargetName
		</p>
		<p>
			A bounty has been placed on your head by @Model.ClientName in the amount of @Model.Amount for the reason of @Model.Reason.
		</p>
		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>