From: Player-Bounties@playerbounties.com
To: @Model.UserEmailAddress
Subject: Bounty has been completed on @Model.TargetName 

<html>
	<body>
		<p>
			Attention @Model.ClientName
		</p>
		<p>
			The bounty placed on @Model.TargetName has been completed.  @Model.TargetName has been killed by @Model.HunterName and has successfully delivered your message.
		</p>
		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>