From: Player-Bounties@playerbounties.com
To: @Model.UserEmailAddress
Subject: Bounty placement against @Model.TargetName - @Model.Shard has been Approved

<html>
	<body>
		<p>
			Attention @Model.ClientName - @Model.Shard
		</p>
		<p>
			The bounty against @Model.TargetName - @Model.Shard has been approved.  Every hunter in the galaxy will now be on the hunt. Once the 
			target has been killed you will be alerted with photographic proof of the targets demise.
		</p>
		<p>
			For your records, included are the details for the approved bounty. You can no longer make any changes to the bounty and if you choose
			to cancel it before the target has been killed we will retain a small percentage for processing.
		</p>

		<table>
			<thead>
				<tr>
					<th colspan="2" style="text-align: left;">Bounty Details</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="width: 50px; font-weight: bold;">Client:</td>
					<td style="width: 400px;">@Model.ClientName - @Model.Shard</td>
				</tr>
				<tr>
					<td style="font-weight: bold;">Target:</td>
					<td>@Model.TargetName - @Model.Shard</td>
				</tr>
				<tr>
					<td style="font-weight: bold;">Amount:</td>
					<td>@Model.Amount</td>
				</tr>
				@if(@Model.Reason != string.Empty)
				{
					<tr>
						<td style="font-weight: bold; vertical-align: top;">Reason:</td>
						<td>@Model.Reason</td>
					</tr>
				}
				@if(@Model.Message != string.Empty)
				{
					<tr>
						<td style="font-weight: bold; vertical-align: top;">Message:</td>
						<td>@Model.Message</td>
					</tr>
				}
				<tr>
					<td style="font-weight: bold;">Status:</td>
					<td>Active</td>
				</tr>
				<tr>
					<td>Bounty:</td>
					<td><a href="www.playerbounties.com/Bounty/Details/@Model.BountyId">Bounty Detail Link</a></td>
				</tr>
			</tbody>
		</table>

		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>