From: no-reply@playerbounties.com
To: @Model.UserEmailAddress
Subject: Bounty on @Model.TargetName Approved

<html>
	<body>
		<p>
			Attention @Model.ClientName
		</p>
		<p>
			The bounty placed on @Model.TargetName in the amount of @Model.Amount has been approved.
		</p>
		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>