From: Player-Bounties@playerbounties.com
To: @Model.UserEmailAddress
Subject: Bounty placement against @Model.TargetName - @Model.Shard has been Denied

<html>
	<body>
		<p>
			Attention @Model.ClientName - @Model.Shard
		</p>
		<p>
			The bounty against @Model.TargetName - @Model.Shard has been denied.
		</p>
	</body>
</html>