From: Player-Bounties@playerbounties.com
To: @Model.UserEmailAddress
Subject: Bounty has been placed on @Model.TargetName - @Model.Shard

<html>
	<body>
		<p>
			Attention @Model.TargetName - @Model.Shard
		</p>
		<p>
			A bounty has been placed on your head by @Model.ClientName - @Model.Shard in the amount of @Model.Amount for the reason of @Model.Reason.
		</p>
		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>