From: Player-Bounties@playerbounties.com
To: @Model.UserEmailAddress
Subject: Bounty on @Model.TargetName - @Model.Shard has been cancelled by the client

<html>
	<body>
		<p>
			Attention @Model.UserEmailAddress
		</p>
		<p>
			The bounty on your characters, @Model.TargetName - @Model.Shard has been cancelled by the client.
		</p>
	</body>
</html>