From: Player-Bounties@playerbounties.com
To: tmacblane@gmail.com
Subject: A new bounty on @Model.TargetName - @Model.Shard has been placed by @Model.ClientName - @Model.Shard

<html>
	<body>
		<p>
			Attention Admin
		</p>
		<p>
			A bounty has been placed by @Model.ClientName - @Model.Shard against @Model.TargetName - @Model.Shard in the amount 
			of @Model.Amount is pending your approval.
		</p>
		<table>
			<thead>
				<tr>
					<th colspan="2" style="text-align: left;">Bounty Details</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="width: 50px; font-weight: bold;">Client:</td>
					<td style="width: 400px;">@Model.ClientName - @Model.Shard</td>
				</tr>
				<tr>
					<td style="font-weight: bold;">Target:</td>
					<td>@Model.TargetName - @Model.Shard</td>
				</tr>
				<tr>
					<td style="font-weight: bold;">Amount:</td>
					<td>@Model.Amount</td>
				</tr>
				@if(@Model.Reason != string.Empty)
				{
					<tr>
						<td style="font-weight: bold; vertical-align: top;">Reason:</td>
						<td>@Model.Reason</td>
					</tr>
				}
				@if(@Model.Message != string.Empty)
				{
					<tr>
						<td style="font-weight: bold; vertical-align: top;">Message:</td>
						<td>@Model.Message</td>
					</tr>
				}
				<tr>
					<td style="font-weight: bold;">Status:</td>
					<td>Pending Payment</td>
				</tr>
				<tr>
					<td>Bounty:</td>
					<td><a href="www.playerbounties.com/Bounty/Details/@Model.BountyId">Bounty Detail Link</a></td>
				</tr>
			</tbody>
		</table>
		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>