From: Player-Bounties@playerbounties.com
To: @Model.UserEmailAddress
Subject: The bounty being collected on @Model.TargetName is pending approval for completion

<html>
	<body>
		<p>
			Attention @Model.HunterName
		</p>
		<p>
			The bounty on @Model.TargetName in the amount of @Model.Amount has been submitted for approval.
		</p>
		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>