From: Player-Bounties@playerbounties.com
To: tmacblane@gmail.com
Subject: A bounty completion has been posted on @Model.TargetName by @Model.HunterName

<html>
	<body>
		<p>
			Attention Admin
		</p>
		<p>
			The bounty placed on @Model.TargetName in the amount of @Model.Amount has been completed by @Model.HunterName is pending your approval.
		</p>
		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>