From: no-reply@playerbounties.com
To: tmacblane@gmail.com
Subject: A new bounty on @Model.TargetName has been placed by @Model.ClientName

<html>
	<body>
		<p>
			Attention Admin
		</p>
		<p>
			A bounty has been placed by @Model.ClientName on @Model.TargetName in the amount of @Model.Amount that is pending your approval
		</p>
		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>