From: no-reply@playerbounties.com
To: @Model.UserEmailAddress
Subject: Bounty on @Model.TargetName is Pending Approval

<html>
	<body>
		<p>
			Attention @Model.ClientName
		</p>
		<p>
			The placed on @Model.TargetName in the amount of @Model.Amount is pending approval.  Please deliver the funds to xxxx in game either via trade or ingame mail.
		</p>
		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>