From: Player-Bounties@playerbounties.com
To: @Model.UserEmailAddress
Subject: The bounty being collected on @Model.TargetName - @Model.Shard is pending approval for completion

<html>
	<body>
		<p>
			Attention @Model.HunterName - @Model.Shard
		</p>
		<p>
			The bounty on @Model.TargetName - @Model.Shard in the amount of @Model.Amount has been submitted for approval.  Once approved, the funds, minus any 
			processing fees will be delivered to account.
		</p>
		<p>
			For your records, included are the details for the bounty you attempting to collect on.
		</p>
		<table>
			<thead>
				<tr>
					<th colspan="2" style="text-align: left;">Bounty Details</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="width: 50px; font-weight: bold;">Client:</td>
					<td style="width: 400px;">@Model.ClientName - @Model.Shard</td>
				</tr>
				<tr>
					<td style="font-weight: bold;">Target:</td>
					<td>@Model.TargetName - @Model.Shard</td>
				</tr>
				<tr>
					<td style="font-weight: bold;">Killed By:</td>
					<td>@Model.KilledBy - @Model.Shard</td>
				</tr>
				<tr>
					<td style="font-weight: bold;">Amount:</td>
					<td>@Model.Amount</td>
				</tr>
				@if(@Model.Reason != string.Empty)
				{
					<tr>
						<td style="font-weight: bold; vertical-align: top;">Reason:</td>
						<td>@Model.Reason</td>
					</tr>
				}
				@if(@Model.Message != string.Empty)
				{
					<tr>
						<td style="font-weight: bold; vertical-align: top;">Message:</td>
						<td>@Model.Message</td>
					</tr>
				}
				<tr>
					<td style="font-weight: bold;">Status:</td>
					<td>Pending Completion</td>
				</tr>
				<tr>
					<td>Bounty:</td>
					<td><a href="www.playerbounties.com/Bounty/Details/@Model.BountyId">Bounty Detail Link</a></td>
				</tr>
			</tbody>
		</table>
		<p>
			Thanks and Enjoy!
		</p>
	</body>
</html>