@model PlayerBounties.Models.ChangePasswordModel
		   
@using(Html.BeginForm("_ChangePassword", "Account"))
{
	@Html.ValidationSummary(false)

	<div id="changePasswordForm" style="margin: 20px;">	
		<text style="font-size: 18px; font-weight: bolder;">Change Password</text>

		<div id="changePassword">
			<table id="changePasswordTable" cellspacing="0" cellpadding="5" border="0" width="400px;">
				<tr>
					<td class="inputLabelCell">
						@Html.LabelFor(model => model.OldPassword):
					</td>
					<td align="left">
						@Html.EditorFor(model => model.OldPassword)
					</td>
					<td>
						@Html.ValidationMessageFor(model => model.OldPassword, "*")
					</td>
				</tr>
				<tr>
					<td class="inputLabelCell">
						@Html.LabelFor(model => model.NewPassword):
					</td>
					<td align="left">
						@Html.EditorFor(model => model.NewPassword)
					</td>
					<td>
						@Html.ValidationMessageFor(model => model.NewPassword, "*")
					</td>
				</tr>
				<tr>
					<td class="inputLabelCell">
						@Html.LabelFor(model => model.ConfirmPassword):
					</td>
					<td align="left">
						@Html.EditorFor(model => model.ConfirmPassword)
					</td>
					<td>
						@Html.ValidationMessageFor(model => model.ConfirmPassword, "*")
					</td>
				</tr>
			</table>
		</div>
		<div class="rowBlank">
			<input type="submit" value="Save" />
		</div>
	</div>
}