@model PlayerBounties.Models.SignUpModel

@{
    ViewBag.Title = "Sign Up";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

	<div id="signUpForm" class="centeredForm">
		<div class="rowBlank">
            @Html.LabelFor(model => model.Email)
		<br />
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email, "*")
        </div>
		
		<div class="rowBlank">
            @Html.LabelFor(model => model.Password)
		<br />
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password, "*")
        </div>
		
		<div class="rowBlank">
            @Html.LabelFor(model => model.ConfirmPassword)
		<br />
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "*")
        </div>
		
		<div class="rowBlank">
			<input type="submit" value="Sign Up" />			
			<input type="button" value="Cancel" onclick="window.location='../Home/Index'"/>
		</div>
	 </div>
}