@model PlayerBounties.Models.Character

<script type="text/javascript">
	$(document).ready(function()
	{
		$("#FactionId").change(function()
		{
			var idPlayerClass = $(this).val();

			$.getJSON("/Character/LoadPlayerClassesByFaction", { factionId: idPlayerClass },
			
			function(factionData)
			{

				var select = $("#PlayerClassId");
				select.empty();
				select.append($('<option/>', {
					value: 0,
					text: ""
				}));

				$.each(factionData, function(index, itemData)
				{
					select.append($('<option/>', {
						value: itemData.Value,
						text: itemData.Text
					}));
				});
			});
		});
	});
</script>
		   
<table id="characterAddEditTable" cellspacing="0" cellpadding="5" border="0">
	<tr>
		<td class="inputLabelCell">
			@Html.LabelFor(model => model.Name)
		</td>
		<td align="left">
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</td>
	</tr>
	<tr>
		<td class="inputLabelCell">
			@Html.LabelFor(model => model.Shard)
		</td>
		<td align="left">
			@Html.DropDownList("ShardId", String.Empty)
			@Html.ValidationMessageFor(model => model.ShardId)
		</td>
	</tr>
	<tr>
		<td class="inputLabelCell">
			@Html.LabelFor(model => model.Faction)
		</td>
		<td align="left">
			@Html.DropDownList("FactionId", String.Empty)
			@Html.ValidationMessageFor(model => model.FactionId)
		</td>
	</tr>
	<tr>
		<td class="inputLabelCell">
			@Html.LabelFor(model => model.Race)
		</td>
		<td align="left">
			@Html.DropDownList("RaceId", String.Empty)
			@Html.ValidationMessageFor(model => model.RaceId)
		</td>
	</tr>
	<tr>
		<td class="inputLabelCell">
			@Html.LabelFor(model => model.PlayerClass)
		</td>
		<td align="left">
			@Html.DropDownListFor(model => model.PlayerClass, new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Name"), "", new { id = "PlayerClassId" })
			@Html.ValidationMessageFor(model => model.PlayerClassId)
		</td>
	</tr>
	<tr>
		<td class="inputLabelCell">
			@Html.LabelFor(model => model.Motto)
		</td>
		<td align="left">
			@Html.EditorFor(model => model.Motto)
		</td>
	</tr>
	<tr>
		<td class="inputLabelCell">
			@Html.LabelFor(model => model.Bio)
		</td>
		<td align="left">
			@Html.EditorFor(model => model.Bio)
		</td>
	</tr>
	<tr>
		<td class="inputLabelCell">
			@Html.LabelFor(model => model.IsPrimary)
		</td>
		<td align="left">
			@Html.EditorFor(model => model.IsPrimary)
		</td>
	</tr>
</table>