@model PlayerBounties.Models.Character

@{
    ViewBag.Title = "Character Details - " + Model.Name;
}

<div style="margin: 10px;">
	<div id="leftColumn">
		<table>
			<tr style="height: 20px;">
				<td>Achievements image
				</td>
			</tr>
			<tr style="height: 150px;">
				<td>
					<img src="../../@Model.GetClassAvatarPath(Model.AvatarId.Value)" alt="Home" id="characterAvatar"/>					
				</td>
			</tr>

			@if(Request.IsAuthenticated)
			{
				if(Model.GetDefaultCharacterForAnAccount(Model.GetLoggedInUserId()).Count() != 0)
				{
					if(Model.IsActiveBountyOnCharacter(Model.Id) == false)
					{
						<tr>
							<td align="center">
								@Html.ActionLink("Place a Bounty", "Create", "Bounty", new { id = Model.Id }, null)
							</td>
						</tr>
						}
						else
						{
						<tr>
							<td align="center">
								@Html.ActionLink("Active Bounty", "Details", "Bounty", new { id = Model.GetActiveBountyId(Model.Id) }, null)
							</td>
						</tr>
					}
				}
			}
		
		</table>	
	</div>

	<div id="rightColumn">
		<table cellspacing="0" cellpadding="2" border="0">
			<tr style="height: 20px;">
				<td>
				</td>
			</tr>
			<tr style="height: 150px;">
				<th colspan="2">Great hunt champ image</th>
			</tr>
			<tr>
				<td class="inputLabelCell">
					Targets Killed:
				</td>
				<td align="left">
					@if(Model.GetBountiesKilledCount(Model.Id) != 0)
					{
						@Html.ActionLink(Model.GetBountiesKilledCount(Model.Id).ToString(), "_TargetsKilled", "Bounty", new { characterId = Model.Id }, null)
					}
					else
					{
						<text>0</text>
					}
				</td>
			</tr>
			<tr>
				<td class="inputLabelCell">
					Bounties Placed:
				</td>
				<td align="left">
					@if(Model.GetBountiesPlacedCount(Model.Id) != 0)
					{
						@Html.ActionLink(Model.GetBountiesPlacedCount(Model.Id).ToString(), "_BountiesPlaced", "Bounty", new { characterId = Model.Id }, null)
					}
					else
					{
						<text>0</text>
					}
				</td>
			</tr>
			<tr>
				<td class="inputLabelCell">
					Bounties Against:
				</td>
				<td align="left">
					@if(Model.GetBountiesPlacedOnCount(Model.Id) != 0)
					{
						@Html.ActionLink(Model.GetBountiesPlacedOnCount(Model.Id).ToString(), "_BountiesPlacedAgainst", "Bounty", new { characterId = Model.Id }, null)
					}
					else
					{
						<text>0</text>
					}
				</td>
			</tr>
		</table>
	</div>	
	
	<div id="middleColumn">
		<table id="characterDetailsTable" cellspacing="0" cellpadding="5" border="0">
			<tr style="height: 20px;"></tr>
			<tr>
				<td class="inputLabelCell">
					@Html.LabelFor(model => model.Name):
				</td>
				<td align="left">
					@if(Request.IsAuthenticated)
					{
						if(Model.IsCharacterOwner(Model.GetLoggedInUserId(), Model.Id))
						{
							@Html.ActionLink(@Html.DisplayFor(model => model.Name).ToString(), "Edit", new { id = Model.Id })
						}
						else
						{
							<span>@Html.DisplayFor(model => model.Name)</span>
						}
					}
					else
					{
						<span>@Html.DisplayFor(model => model.Name)</span>
					}
				
				</td>
			</tr>
			<tr>
				<td class="inputLabelCell">
					@Html.LabelFor(model => model.Faction.Name):
				</td>
				<td align="left">
					<span>@Model.CharacterAllegience(Model.Id)</span>
				</td>
			</tr>

			@if(Model.Race != null)
			{
				<tr>
					<td class="inputLabelCell">
						@Html.LabelFor(model => model.Race.Name):
					</td>
					<td align="left">
						<span>@Model.CharacterRace(Model.Id)</span>
					</td>
				</tr>
			}
			
			<tr>
				<td class="inputLabelCell">
					@Html.LabelFor(model => model.PlayerClass.Name):
				</td>
				<td align="left">
					<span>@Model.CharacterClass(Model.Id)</span>
				</td>
			</tr>
			<tr>
				<td class="inputLabelCell">
					@Html.LabelFor(model => model.Shard.Name):
				</td>
				<td align="left">
					<span>@Model.CharacterShard(Model.Id)</span>
				</td>
			</tr>
		
			@if(Model.Motto != null)
			{
				<tr>
					<td class="inputLabelCell">
						@Html.LabelFor(model => model.Motto):
					</td>
					<td align="left">
						<span style="font-style: italic;">@Html.DisplayFor(model => model.Motto)</span>
					</td>
				</tr>
			}

			@if(Request.IsAuthenticated)
			{

			   if(Model.IsCharacterOwner(Model.GetLoggedInUserId(), Model.Id))
			   {
					<tr>
						<td class="inputLabelCell">
							@Html.LabelFor(model => model.IsPrimary):
						</td>
						<td align="left">
							<span>@Html.DisplayFor(model => model.IsPrimary)</span>
						</td>
					</tr>
			   }
			}
		
			@if(Model.Bio != null)
			{
				<tr>
					<td class="inputLabelCell">
						@Html.LabelFor(model => model.Bio):
					</td>
					<td align="left">
						<span>@Html.DisplayFor(model => model.Bio)</span>
					</td>
				</tr>
			}
		
		</table>
	</div>

</div>

<div id="imageSlider" class="divSize95">
	<p>Kill Image Slider</p>
</div>

<div id="talesFromTheHunt" class="divSize95">
	<p>Link to Tales from hunt</p>
</div>

<div class="rowBlank">		
	<input type="button" value="<< Back" onclick="window.history.back()"/>
</div>	